@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.about-icons {
  font-size: 4em;
}

.screenshots {
  display: flex;
  flex: 33.3%;
  width: 300px;
}

.project p {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
}

/* Mobile: Applies from 0px to 600px */
@media all and (max-width: 600px) {
  body {
    background-color: #f8f8f8;
  }
  main {
    margin-left: 20px;
    margin-right: 20px;
  }

  .body-about {
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .about-icons {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    text-align: center;
    justify-content: space-evenly;
    padding: 16px !important;
  }

  .about-icons a {
    color: #4169e1;
  }

  .tech-icons {
    display: flex;
    font-size: 50px;
    text-align: center;
    justify-content: space-evenly;
    padding-right: 16px !important;
    color: #c0c0c0;
  }

  .tech-skills-list {
    display: list-item;
    list-style-type: "\1F44D";
    padding-top: 20px;
    word-spacing: 6px;
  }

  p {
    padding-top: 20px;
    word-spacing: 6px;
  }

  .all-projects {
    display: flex;
    flex-direction: column;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    padding: 8px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #dcdcdc, #d3d3d3);
  }

  .project p {
    display: inline-flex;
    flex-direction: column;
    margin: 15px;
    padding: 8px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #dcdcdc, #d3d3d3);
  }

  .project h3 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .project a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  img {
    width: 90%;
    max-height: 500px;
    border-radius: 8px;
  }
}

@media all and (min-width: 800px) {
  .about-section {
    width: 50%;
    padding: 8px;
    height: 5%;
    /* display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* margin-right: 20px; */
    font-size: 50px;
    border: 1px solid blue;
  }

  .body-about {
    font-size: 48px;
  }

  .more-about {
    padding-top: 5%;
    font-size: 48px;
    border: 1px solid red;
  }

  .profile-pic {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    border: 1px solid green;
    padding: 20px;
    margin-top: 10%;
    align-items: center;
  }

  .wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }

  .introduction {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }

  .about-icons {
    display: flex;
    flex-direction: row;
    font-size: 120px;
    width: 50%;
    margin-top: -5%;
    margin-bottom: 5%;
    /* padding-top: 10%; */
    /* padding-bottom: 8%; */
    margin-left: 8%;
    justify-content: space-evenly;
    border: 1px solid green;
    /* padding: 16px !important; */
  }

  .about-icons a {
    color: #4169e1;
  }

  .tech-section {
    justify-content: center;
    text-align: center;
  }

  .tech-skills-list {
    display: list-item;
    list-style-type: "\1F44D";
    padding-top: 20px;
    word-spacing: 6px;
    align-items: center;
  }

  .tech-icons {
    display: flex;
    font-size: 50px;
    text-align: center;
    justify-content: space-evenly;
    padding-right: 16px !important;
    color: #c0c0c0;
  }

  .project-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
  }

  .all-projects {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid green;
  }

  .all-projects h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid orange;
  }

  .project {
    border: 1px solid brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin: 20px;
    padding: 4px;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #dcdcdc, #d3d3d3);
  }

  .project p {
    text-align: left;
    margin: 15px;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid purple;
  }

  .project h3 {
    border: 1px solid purple;
    font-size: 1.2em;
  }

  .screenshots {
    border: 1px solid purple;
  }
}
